* {
	box-sizing: border-box;
}
	
html {
	height: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: 3rem auto fit-content(8rem);
  grid-template-areas: "header"
                       "main"
                       "footer";
  height: 100%;
}

.main-header {
  grid-template-columns: auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #2ddf5c;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
	justify-content: space-between;
	z-index: 100;
	grid-area: header;
}

.main-header__brand img {
  height: 2.5rem;  
  vertical-align: middle;
}

.nav-list {
	display: flex;	
	list-style: none;
}

.nav-list a {	
	text-decoration: none;
}

.nav-list__item {
	grid-area: intro;
	padding-right: 1rem;
}

/* =============================================================================================== */
.main {
	grid-area: main;
	padding-top: 1rem;
	width: 100vw;
}

.skillring:nth-child(1) {
	width: 100px;
	height: 100px;
	background-color: red;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin: auto;
}
.skillring:nth-child(2) {
	width: 100px;
	height: 100px;
	background-color: black;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin: auto;
}
.skillring:nth-child(3) {
	width: 100px;
	height: 100px;
	background-color: blue;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin: auto;
}
.skillring:nth-child(4) {
	width: 100px;
	height: 100px;
	background-color: green;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin: auto;
}

.skillring:nth-child(5) {
	width: 100px;
	height: 100px;
	background-color: yellow;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin: auto;
}

.main .content {
	margin: auto;
	padding: 50px;
}

.bg-image {
	position: relative;
	height: 20vh;
	min-height: 300px;
	background-image: url("./assets/space_ship/97j3hvnx-720.jpg");
	background-size: contain;
	background-repeat: repeat-x;
	object-fit: fill;
	animation: warp 15s linear infinite;
	-webkit-animation: warp 15s linear infinite;
}

.bg-ship {
	position: absolute;
	top: 60px;
	left: 0px;
}

.bg-warptext {
	position: absolute;
	top: 200px;
	right: 100px;
	font-size: 1rem;
	font-weight: 400;
	color: white;
}

/* ====================================================================================================== */

.main-footer {
	grid-area: footer;	
	width: 100vw;
	background-color: grey;
	height: 3rem;
	text-align: center;
}

.skill-showset {
	width: 100px;
	height: 100px;
	position: relative;
	left: 50%;
	top: 3rem;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	animation: expand 1s linear infinite;
	-webkit-animation: expand 1s linear infinite;
}

.skill-showset > span {
	position: absolute;
	width: 50px;
	height: 50px;
	height: 50px;
	animation: rotate 1s linear infinite;
	-webkit-animation: rotate 1s linear infinite;
}

.skill-showset > span:nth-child(1) {
	/* background: url("./assets//skillsets/icons8-react-native.svg"); */
	background-color: red;
	top: 0px;
	left: 0px;
}
.skill-showset > span:nth-child(2) {
	/*background: url("./assets//skillsets/icons8-javascript-logo.svg");
	*/background-color: blue;
	top: 0px;
	right: 0px;
}
.skill-showset > span:nth-child(3) {
	/* background: url("./assets//skillsets/icons8-html-5.svg"); */
	background-color: green;
	bottom: 0px;
	left: 0px;
}
.skill-showset > span:nth-child(4) {
	/* background: url("./assets//skillsets/icons8-css3.svg"); */
	background-color: yellow;
	right: 0px;
	bottom: 0px;
}

#skills {
	height: 80%;
	width: 80%;
	display: flex;
	background-color: indianred;
	justify-content: center;
}

@keyframes warp {
	from {
		background-position: bottom right;
	}
	to {
		background-position: bottom left;
	}
}

@keyframes expand {
	0% {
		width: 100px;
		height: 100px;
	}
	10% {
		width: 100px;
		height: 100px;
	}
	50% {
		width: 150px;
		height: 150px;
	}
	90% {
		width: 100px;
		height: 100px;
	}
	100% {
		width: 100px;
		height: 100px;
	}
}

@keyframes rotate {
	0% {
		transform: rotateZ(0deg)	;
		-webkit-transform: rotateZ(0deg)	;
		-moz-transform: rotateZ(0deg)	;
		-ms-transform: rotateZ(0deg)	;
		-o-transform: rotateZ(0deg)	;
	}
	10% {
		transform: rotateZ(0deg)	;
		-webkit-transform: rotateZ(0deg)	;
		-moz-transform: rotateZ(0deg)	;
		-ms-transform: rotateZ(0deg)	;
		-o-transform: rotateZ(0deg)	;
	}
	50% {
		transform: rotateZ(90deg)	;
		-webkit-transform: rotateZ(90deg)	;
		-moz-transform: rotateZ(90deg)	;
		-ms-transform: rotateZ(90deg)	;
		-o-transform: rotateZ(90deg)	;
	}
	90% {
		transform: rotateZ(90deg)	;
		-webkit-transform: rotateZ(90deg)	;
		-moz-transform: rotateZ(90deg)	;
		-ms-transform: rotateZ(90deg)	;
		-o-transform: rotateZ(90deg)	;
	}
	100% {
		transform: rotateZ(90deg)	;
		-webkit-transform: rotateZ(90deg)	;
		-moz-transform: rotateZ(90deg)	;
		-ms-transform: rotateZ(90deg)	;
		-o-transform: rotateZ(90deg)	;
	}
}