.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2em;
    grid-template-areas:
        'jobtitle'
        'address'
        'jobcontent';
}

@media (min-width: 600px) {
    .card {
        text-align: left;
        grid-template-columns: 1fr;
        grid-template-areas:
            'jobtitle'
            'address'
            'jobcontent';
    }
}

.jobtitle {
    grid-area: jobtitle;
}
.address {
    grid-area: address;
}
.jobcontent {
    grid-area: jobcontent;
}
/* .profile-img {
    grid-area: image;
} */
/* .social-list {
    grid-area: social;
} */

/* general stylings */

.card {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    max-width: 600px;
    background: #005e9b;
    flex-basis: 250px;
    color: white;
    padding: 2em;
    text-align: center;
}

.jobcontent {
    font-weight: 300;
    opacity: 0.7;
}

.jobtitle {
    grid-area: jobtitle;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin: 0 0 0;
    line-height: 1;
}

.jobtitle::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    background: #5bcbf0;
    margin: 0.5em auto 0.65em;
    opacity: 0.25;
}

.address {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    margin: 0 0 1.5vem;
    line-height: 1;
    color: #5bcbf0;
}

/* .profile-img {
    justify-self: center;
    max-width: 100%;
    border-radius: 50%;
    border: 2px solid white;
} */

/* .social-list {
    justify-self: center;
    list-style: none;
    justify-content: space-between;
    display: flex;
    width: 75px;
    margin: 0.5em 0 0;
    padding: 0;
}

.social-link {
    color: #5bcbf0;
    opacity: 0.5;
}

.social-link:hover,
.social-link:focus {
    opacity: 1;
}

.bio-title {
    color: #0090d1;
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
} */

/* =========================
   GENERAL STYLES 
   NOT RELATED TO THE TIP
============================ */

/* *,
*::before,
*::after {
  box-sizing: border-box;
}

:root {  
  --clr-primary: #ee6352;
  --clr-secondary: #d16e8d;
  --clr-accent: #F7F7FF;
  --clr-gradient: linear-gradient(-90deg, var(--clr-primary), var(--clr-secondary));
  --ff-title: bungee, sans-serif;
  --ff-body: canada-type-gibson,sans-serif;
  --fw-body: 300;
  --fw-bold: 800;
  --fw-title: 400;
  --fw-number: 800;
}

body {
  min-height: 100vh;
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: var(--clr-accent);
}

:focus {
  outline: 5px solid var(--clr-accent);
  outline-offset: 3px;
}

.title,
.credits {
  text-align: center;
  text-transform: uppercase;
  padding: 1em 0 2em;
  margin: 0;
  background: var(--clr-gradient);
  position: relative;
  z-index: 1000;
}

.title {
  font-size: calc(1rem + 3vw);
  font-family: var(--ff-title);
  font-weight: var(--fw-title);
  color: white;
  text-shadow: 3px 5px 10px rgba(0,0,0, .2);
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%);
}

.title span {
    font-weight: var(--fw-number);
    color: black;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 5em;
    top: -30%;
    z-index: -1;
    opacity: .25
  }

.credits {
  font-family: var(--ff-title);
  width: 100%;
  margin: 0;
  padding: 6em 0 1em;
  clip-path: polygon(0 60%, 100% 0, 100% 100%, 0% 100%);
  color: rgba(black, .7);
}

.credits p:last-child {
  font-size: .8em;
}  */
